/* Plack-Debugger CSS Reset, adapted from Eric Meyer's CSS Reset */
#plack-debugger {
    color      : #000000;
    background : #ffffff;
}
#plack-debugger, 
#plack-debugger div, 
#plack-debugger span, 
#plack-debugger applet, 
#plack-debugger object, 
#plack-debugger iframe,
#plack-debugger h1, 
#plack-debugger h2, 
#plack-debugger h3, 
#plack-debugger h4, 
#plack-debugger h5, 
#plack-debugger h6, 
#plack-debugger p, 
#plack-debugger blockquote, 
#plack-debugger pre,
#plack-debugger a, 
#plack-debugger abbr, 
#plack-debugger acronym, 
#plack-debugger address, 
#plack-debugger big, 
#plack-debugger cite, 
#plack-debugger code,
#plack-debugger del, 
#plack-debugger dfn, 
#plack-debugger em, 
#plack-debugger font, 
#plack-debugger img, 
#plack-debugger ins, 
#plack-debugger kbd, 
#plack-debugger q, 
#plack-debugger s, 
#plack-debugger samp,
#plack-debugger small, 
#plack-debugger strike, 
#plack-debugger strong, 
#plack-debugger sub, 
#plack-debugger sup, 
#plack-debugger tt, 
#plack-debugger var,
#plack-debugger b, 
#plack-debugger u, 
#plack-debugger i, 
#plack-debugger center,
#plack-debugger dl, 
#plack-debugger dt, 
#plack-debugger dd, 
#plack-debugger ol, 
#plack-debugger ul, 
#plack-debugger li,
#plack-debugger fieldset, 
#plack-debugger form, 
#plack-debugger label, 
#plack-debugger legend,
#plack-debugger table, 
#plack-debugger caption, 
#plack-debugger tbody, 
#plack-debugger tfoot, 
#plack-debugger thead, 
#plack-debugger tr, 
#plack-debugger th, 
#plack-debugger td {
    margin         : 0;
    padding        : 0;
    border         : 0;
    outline        : 0;
    font-size      : 12px;
    line-height    : 1.5em;
    color          : #000000;
    vertical-align : baseline;
    background     : transparent;
    font-family    : sans-serif;
    text-align     : left;
}

/* Collapsed Toolbar */

#plack-debugger .collapsed {
    background    : #dddddd;
    z-index       : 100000000;
    position      : fixed;
    top           : 0;
    right         : 0;
    display       : none;
    border-left   : 3px ridge;
    border-bottom : 3px ridge;    
    border-color  : #bbbbbb #cccccc; 
}

#plack-debugger .collapsed .open-button {
    padding     : 5px;
    background  : #aaaaaa;
    color       : #666666;
    font-size   : 3em;
    line-height : 0.75em;
}

#plack-debugger .collapsed .open-button:hover {
    cursor : pointer;
    color  : #000000;
}

/* Toolbar */

#plack-debugger .toolbar {
    background    : #dddddd;    
    width         : 300px;
    z-index       : 100000000;
    position      : fixed;
    top           : 0;
    bottom        : 0;
    right         : 0;
    border-left   : 3px ridge;
    border-color  : #aaaaaa #cccccc;
}

#plack-debugger .toolbar .header {
    border-bottom : 2px groove;
    border-color  : #aaaaaa #111111;
}

#plack-debugger .toolbar .header .close-button {
    padding     : 5px;
    background  : #aaaaaa;
    color       : #666666;
    font-size   : 3em;
    line-height : 0.75em;  
}

#plack-debugger .toolbar .header .close-button:hover {
    cursor : pointer;
    color  : #000000;
}

#plack-debugger .toolbar .panels .panel {
    border-bottom : 2px groove;
    border-color  : #aaaaaa #111111;
}

#plack-debugger .toolbar .panels .panel:hover {
    background : #eeeeee;
    cursor     : pointer;
}

#plack-debugger .toolbar .panels .panel .notifications {
    margin-right  : 10px;
}

#plack-debugger .toolbar .panels .panel .notifications .badge {
    float         : right;    
    font-weight   : bold;
    margin-top    : 10px;
    margin-left   : 5px;
    padding       : 2px 5px;
    border-radius : 10px;
}

/* Panel Content */

#plack-debugger .panel-content {
    z-index  : 99999999;
    position : fixed;
    top      : 0;
    left     : 0;
    right    : 300px;
    height   : 100%;
    display  : none;
}

#plack-debugger .panel-content .panel {
    background : #cccccc;
    height     : 100%;
    display    : none; 
    overflow   : auto;
}

#plack-debugger .panel-content .panel .header {
    background : #aaaaaa;
    position   : fixed;
    top        : 0;
    left       : 0;   
    right      : 300px; 
    height     : 70px;
}

#plack-debugger .panel-content .panel .notifications {
    margin-right  : 100px;
}

#plack-debugger .panel-content .panel .notifications .badge {
    float         : right;    
    margin-top    : 22px;
    margin-left   : 5px;    
    padding       : 2px 5px;
    border-radius : 5px;
}

#plack-debugger .panel-content .panel .header .close-button {
    float         : right;
    font-size     : 3.5em;
    padding-right : 30px;
    color         : #666666;
}

#plack-debugger .panel-content .panel .header .close-button:hover {
    cursor : pointer;
    color  : #000000;
}

#plack-debugger .panel-content .panel .header .title {
    font-size : 2.5em;
}

#plack-debugger .panel-content .panel .header .subtitle {
    font-size : 1em;
}

#plack-debugger .panel-content .panel .content {
    padding-left   : 20px;
    padding-bottom : 20px;
    padding-right  : 20px;
    padding-top    : 90px;
}

#plack-debugger .panel-content .panel .content table {
    border : 1px solid #999999;
}

#plack-debugger .panel-content .panel .content table td {
    border  : 1px solid #999999;
    padding : 5px;
}

/* generic */

#plack-debugger .idx {
    display : none;
}

#plack-debugger .data {
    padding : 10px;
}

#plack-debugger .data a:hover {
    text-decoration : underline;
    font-weight     : bold;
    cursor          : pointer;
}

#plack-debugger .error {
    background : #d9534f;
    color      : #ffffff;
}

#plack-debugger .warning {
    background : #f0ad4e;
    color      : #ffffff;
}

#plack-debugger .info {
    background : #5bc0de;
    color      : #ffffff;
}

#plack-debugger .success {
    background : #5cb85c;
    color      : #ffffff;
}

#plack-debugger .title {
    font-size    : 1.5em;
    padding-left : 10px;
    padding-top  : 2px;
}

#plack-debugger .subtitle {
    font-size    : 0.9em;
    font-style   : oblique;
    padding-left : 20px;
}

